@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');

.logo {
    width: 150px;
    height: 90px;
}

.top-nav {
    height: 20px;

    z-index: 5 !important;
    position: absolute;
    top: 5px;
    right: 110px;

    font-size: 13px;
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
    padding-top: 50px;
    font-weight: bolder;
    color: #ca1d31;
}

.navbar-light .navbar-nav .nav-link {
    padding-top: 50px;
    color: black;
    font-weight: bolder;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #ca1d31;
}

.btn-primary {
    color: #fff;
    background-color: black;
    border-color: black;
}

.btn-primary:hover {
    transition: 0.4s;
    color: #fff;
    background-color: #ca1d31;
    border-color: #ca1d31;
}

.btn-group-lg>.btn,
.btn-lg {
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0;
    font-weight: bolder;
}

.card-deck {
    width: 1800px;
    margin: 0 auto;

    overflow: hidden;
}

.card-body {
    text-align: center;
    font-weight: bolder;
}

.card-img,
.card-img-top {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.row .row-cols-1 .row-cols-md-3 {
    width: 1432px;
    height: 216px;
}

.bg-light {
    width: 1903px;
    height: 120px;
    margin-left: 200px;
    background-color: white !important;
}

.navbar-expand-lg .navbar-collapse {
    margin-left: 30px;
}

.form-control {
    border: none;
}


.mt-lg-0,
.my-lg-0 {
    position: absolute;
    right: 250px;
    top: 60px;

    border-bottom: 1px solid black;
}

.main-carousel {
    width: 1400px;
    height: 550px;

    margin-left: -110px;
}

.main-carousel img {
    width: 1360px;
    height: 550px;
}


.card {
    border: none;
}

.banner2 {
    overflow: hidden;
    margin: 0 auto;
    padding: 0;
    width: 1400px;
}

.banner2 img {
    transition: 0.4s;
}

.banner2 img:hover {
    transform: scale(1.05);
}

.small-carouael-text {
    width: 1900px;
    text-align: center;
}

.NEW-ARRIVAL {
    width: 1900px;
    margin: 0 auto;
}

.img-box {
    position: relative;
    width: 1900px;
    height: 400px;
}

.img-box img.img-hover {
    opacity: 0;
}

.img-box .col-sm-3:hover img.img {
    transition: 0.4s;
    opacity: 1;
}

.img-box .col-sm-3:hover img.img-hover {
    transition: 0.4s;
    opacity: 2;

    width: 326px;
    height: 326px;

    position: absolute;
    top: 0px;
    left: 14px;
}

.card-title {
    margin-bottom: 0.75rem;
    font-weight: bold;
}

.card-body2 {
    text-align: center;
}

.card-body2:hover {
    background-color: black;
    color: white;

    transition: 0.4s;
}

.card-text2 {
    font-weight: bold;
}

.check {
    text-align: center;
    position: absolute;
    left: 920px;
}

.tab-news {
    text-align: center;
}

.tab-news-img {
    width: 1440px;
    margin: 0 auto;
}

.text>h5>b {
    color: #ca1d31;
}

.tab-news button {
    width: 250px;
    height: 56px;
    background-color: black;
    color: white;
    border: 1px solid black;

    text-align: center;
    padding-top: 10px;
}

.tab-news button:hover {
    background-color: #ca1d31;
    color: white;
    border: 1px solid #ca1d31;

    transition: 0.4s;
}

.top-slide {
    background-color: black;
    color: white;
    width: 1903px;
    height: 25px;
    text-align: center;
}

.footer {
    background-color: #1c1c1c;
    height: 348px;
    color: white;

    font-size: 12px;
}

.footer small:hover {
    color: #ca1d31;
}

.footer-top {
    width: 1114px;
    margin-left: 400px;
    margin-top: 80px;

    display: flex;
    justify-content: space-between;
}

.footer-top>ul {
    list-style-type: none;
    display: flex;
}

.footer-top>ul>li {
    padding-right: 100px;
}

.footer-top>ul>li>ul {
    list-style-type: none;
    padding: 0;
}

.footer-top>ul>li>ul>li {
    color: #7e7e7e;
}

.footer-top .footer-sns {
    display: flex;
    justify-content: space-between;
    width: 139px;
}

.footer-top .footer-sns img {
    background-color: #ffffff;
    width: 30px;
    height: 30px;
}

.footer-top .footer-sns img:hover {
    background-color: #ccc;
}

.footer-bottom {
    width: 1309px;
    margin-left: 144px;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.footer-bottom>ul {
    list-style-type: none;
    display: flex;
}

.footer-bottom>ul>li>a>img {
    width: 130px;
    height: 50px;
}

.footer-bottom>ul>li {
    color: #7e7e7e;
}

.footer-bottom>ul>li>ul {
    list-style-type: none;
    padding: 0;
}

.footer-bottom ul li {
    font-size: 10.5px;
}